@charset "UTF-8";

/* 回答はここに書いてね */

.padd_box {
  padding: 20px;
}

.q4_box {
  display: table;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.q4_box:first-child {
  margin-top: 0px;
}

.padd_dis {
  padding: 20px;
  display: table-cell;
}

.pink_box {
  background-color: #fdc8b8;
  width: 100px;
}

.purple_box {
  background-color: #e0abd9;
}

.blue_box {
  background-color: #b6d8ed;
  width: 100px;
}

.yellow_box {
  background-color: #e5d32e;
}

.salmon_pink_box {
  background-color: #ec8f9a;
}

.green_box {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
