@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  border: solid #dedede 1px;
  table-layout: fixed;
}

.q3_table th {
  padding: 10px;
  background-color: #2244aa;
  color: #fff;
  border: solid #dedede 1px;
  font-size: 18px;
  line-height: 26px;
}

.q3_table td {
  padding: 10px;
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.q3_table tr:nth-child(even) {
  background-color: #ecf1f2;
}


.q3_table tbody tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
