@charset "UTF-8";

/* 回答はここに書いてね */


.scale-box {
  width: 500px;
  height: 333px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.q8_img_box {
  transition: all 0.5s;
}

.scale-box:hover .q8_img_box {
  transform: scale(1.5);
}

.text_box {
  position: absolute;
  bottom: -100%;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,8));
  transition: all 0.5s;
}

.scale-box:hover .text_box {
  bottom: 0;
}

.text_box_text {
  word-wrap: break-word;
  padding: 20px;
}



/* 回答はここに書いてね */
