@charset "UTF-8";

/* 回答はここに書いてね */


.scale-box {
  width: 500px;
  height: 333px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.q8_img_box {
  transition: all 0.5s;
}

.scale-box:hover .q8_img_box {
  transform: scale(1.5);
}

.text_box {
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,8));
}



/* 回答はここに書いてね */
